<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>
    <form class="form-box" action="/delete" method="post">
        <div class="detail-bg">
            <input type="hidden" name="id" value="<%- result._id %>"/>
            <!-- JSON.stringify 깨진 object 정렬해주기 가-->
            <h4><%= JSON.stringify(result.title) %></h4>
            <p><%= JSON.stringify(result.content) %></p>
            <a href="/update/<%- result._id%>">수정</a>
            <button type="submit">삭제</button>
        </div>
    </form>
  </body>
</html>

<!-- -의 경우 HTML 태그 사용시 HTML로 적용이 안 됨 -->
<!-- =의 경우 HTML 태그 사용시 HTML로 적용이 됨 -->